.list .mdl-list__item-secondary-content {
	flex-flow: row;
}

.page-content {
	
}

.video {
	width: 100%;
	height: 80vh;

	margin-top: 10px;
}

.video iframe {
	height: 100%;
	width: calc(100% - 10px);
	margin-left: 10px;
}

.controls {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
}

.controls button {
	margin: initial;
}

.list {
	margin-top: 10px;
}

@media screen and (max-width: 1024px) {
	.video {
		height: calc(80vh - 66px);
	}

	.list {
		height: calc(100vh - 76px);
	}
}

.new-video {
	width: min-content;
}

.list-item-range {
	width: 100%;
}

.mdl-list__item {
	display: block;
}
.list-item-controls {
	display: flex;
	width: 100%;
}

.list-item-controls-icons {
	margin-left: auto;
}
